*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(54, 94, 226);
    padding: 10px 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-main{
    max-width: 991px;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
}

.col-70{
    width: 70%;
}

.col-15{
    width: 15%;
}

.col-80{
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.col-60{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.col-40{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.col-100{
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.height-50{
    height: 50px;
}

.height-300{
    height: 300px;
}

.height-500{
    height: 500px;
}

.height-800{
    height: 800px;
}

button{
    padding: 10px;
    border-radius: 20px;
    border-style: none;
}

.button-black{
    color: white;
    background-color: black;
}

.button-blue{
    background-color: rgb(89, 173, 233);
    color: white;
    margin: 30px;
}

ul{
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-around;
}

.content-img{
    display: flex;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.content{    
    display: flex;
}

.bg-grey{
    background-color: rgb(199, 199, 199);
}

p{
    margin: 10px;
    font-size: 20px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
}
